@charset "ISO-8859-1";
header h1
{
	text-align:center;
	font-size:60px;
	color:Indigo;
	font-weight:bold;
}
header h2
{
	text-align:center;
}

#container {
	width: 450px;
	margin: 30px auto;
	position: relative;
	padding: 2%;
	border:3px solid #f1f1f1;
	border-radius:10px;
}
.field
{
	font-size:20px;
	color:DarkSlateGray;
	font-weight:bold;
}
.value
{
	width:100%;
	height:40px;
	border:2px solid #f1f1f1;
	border-radius:10px;
}
#button1
{
	width:40%;
	font-weight:bold;
	font-size:20px;
	margin-top:20px;
	margin-left:20px;
}
#button2
{
	width:40%;
	font-weight:bold;
	font-size:20px;
	margin-top:20px;
	margin-left:30px;
}
.mandatory
{
	color:red;
}
#error
{
	font-size:20px;
	color:red;
	font-weight:bold;
	text-align:center;
}
#container2
{
	width: 450px;
	margin: 30px auto;
	position: relative;
	padding:0.2%;
	border:3px solid #f1f1f1;
	border-radius:10px;
	text-align:center;
	font-weight:bold;
}
